banner{
    background-image:'Object.png';
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

button{
    color: purple;
}

h4{
    color: white;
}

 {
    color: white;
}
#Membership{
    background: rgb(39, 39, 39)
}
#Footer{
    background: rgb(39, 39, 39);
}