
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Banner */
#banner {
    background-image: Object.png;
}

header{ 
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
    }

    a{ 
        text-decoration: none;
        display: inline-block;
        margin: 0 10px;   
    }
 
h1{
    margin-top: 50px;
    text-align: center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif, Verdana, sans-serif;
    font-weight: bold;
}
h1{
    line-height: 80px;
}
h1.one{
    font-weight: 400;
}
/*SMILE GRIN LAUGH*/
.schooled{
    text-align: center;
    justify-content: space-between;
    font-size: 20px;
    word-spacing: 25px;
}
.schooled{
    line-height: 50px;

}


.highlight {
    color: purple;
    font-weight: bold;
}
button{
    margin-left: auto;
    margin-right:auto;
    display: flex;
   
}

button{
    color: purple;
    padding: 10px 15px;
    border-radius: 10px;
}


h3{
    text-align: center;
    line-height: 200px;
}

h4{
    color: white;
    line-height: 25px;
}

/* profiles */
.profiles{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.profile{
    text-align: center;
}
.profile img{
    max-width: 100px;
}

/*Quotes*/
.quote{
    margin: 80px 0;
    display: flex;
    justify-content: center;
}

.quote{
    background-color: rgb(176, 112, 236);
}
/*Video List*/

/*Membership*/
#Membership{
    background: rgb(39, 39, 39);
    display: flex;
    justify-content: space-evenly;
}

.membership { display: flex; 
    flex-direction: column;
    
 }

 /*F.A.Q.*/
table.a {
    table-layout: auto;
    width: 800px;
    text-align: left;
    margin-left: auto;
    margin-right:auto;
  }

thead{
    font-weight: bold ;
}

  table.b {
    table-layout: auto;
    width: 800px;
    text-align: left;
    margin-left: auto;
    margin-right:auto;
  }
/*footer*/
#Footer{
    background: rgb(39, 39, 39);
}

