
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Banner */
.Banner{
    background-image:'Object.png';
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    
}

header{ 
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
    }

    a{ 
        text-decoration: none;
        display: inline-block;
        margin: 0 10px;   
    }
 
h1{
    margin-top: 50px;
    text-align: center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif, Verdana, sans-serif;
    font-weight: bold;
}
h1{
    line-height: 80px;
}
h1.one{
    font-weight: 400;
}
/*SMILE GRIN LAUGH*/
.schooled{
    text-align: center;
    justify-content: space-between;
    font-size: 20px;
    word-spacing: 25px;
}
.schooled{
    line-height: 50px;

}


.highlight {
    color: rgb(170, 52, 170);
    font-weight: bold;
}
button{
    margin-left: auto;
    margin-right:auto;
    display: flex;
   
}

button{
    color: rgb(170, 55, 170);
    padding: 10px 15px;
    border-radius: 10px;
}


h3{
    text-align: center;
    line-height: 200px;
}



/* profiles */
.profiles{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.profile{
    text-align: center;
}
.profile img{
    max-width: 100px;
}

/*Quotes*/
.quote{
    margin: 80px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 70px;
}
.name{
    font-weight: bold;
    
}
.quote img{
    max-width: 100px;
}
.quote{
    background-color: rgb(176, 112, 236);
    background-size: 500px;
}
/*Video List*/
.videoo{
    margin-bottom:100px;
    padding: 80px;
}
.videos{
    display:flex;
    justify-content: center;
    gap: 60px;
}

.video{
    text-align: left;
    font-size: small;
    font-weight: lighter;
}

.video image{
    max-height: 300px;
    max-width: 150px;
}

.smile{
    font-weight: bold;
    line-height: 30px;
    }

.background-image{ 
    width: 100%;
    height: auto;
}

.overlay-image1{
    position: absolute;
    top: 1300px;
    left: 160px;
    transform: translate(-50%, -50%)
    opacity: 0.8;
}

.overlay-image2{
    position: absolute;
    top: 1300px;
    left: 460px;
    transform: translate(-50%, -50%)
    opacity: 0.8;
}

.overlay-image3{
    position: absolute;
    top: 1300px;
    left: 790px;
    transform: translate(-50%, -50%)
    opacity: 0.8;
}

.overlay-image4{
    position: absolute;
    top: 1300px;
    left: 1100px;
    transform: translate(-50%, -50%)
    opacity: 0.8;
}

/*Membership*/
.Membershipss{
    background: rgb(39, 39, 39);
    padding: 60px;
}

.memberships{ 
    display: flex;
    line-height: 20px;
    flex-direction: row;
    justify-content: center;
    gap: 60px 
}
.membership{
    text-align: center;
}

.membership img{
    max-width: 100px;
}

.lorem{
    font-weight: bold;
    line-height: 40px;
}
.highlights{
    color: white;
}
 /*F.A.Q.*/
.FAQ{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 800px;
    border-collapse: collapse;
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;

}

th{
    font-weight: bold;
}
td{
    font-weight: light;
}
th, td {
   padding: 10px;
   text-align: left;  
}


/*footer*/
#Footer{
    background: rgb(39, 39, 39);
    margin-top: 80px;
    
    padding: 50px;
}

